.auth {
	height: calc(100vh - 80px);
	width: 100%;
	background: $primary;
	color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	&__form {
		width: 400px;
		&-group {
			margin-bottom: 32px;
			position: relative;
			&:last-of-type {
				margin-bottom: 0;
			}
		}
	}
	&__title {
		margin: 0 auto 16px;
		text-align: center;
	}
	&__warning {
		background: tomato;
		color: #fff;
		font-size: 14px;
		width: 368px;
		padding: 8px 16px;
		margin-top: 24px;
		border-radius: 4px;
		margin-bottom: 16px;
	}
	&__label {
		display: inline-block;
		margin-bottom: 8px;
	}
	&__input {
		height: 32px;
		padding: 8px 16px;
		width: 100%;
		max-width: 368px;
		border: none;
		border-radius: 4px;
		&:last-of-type {
			margin-bottom: 0;
		}
		&:focus {
			border: none;
		}
	}
}

.validation-msg {
	position: absolute;
	bottom: -24px;
	left: 0;
	display: inline-block;
	color: tomato;
	font-size: 14px;
}