@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

$primary: #191970;

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

input[placeholder] {
  font-family: 'Montserrat', sans-serif;
  color: $primary;
}

.content {
  height: 100%;
  background: #fff;
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
  padding-bottom: 40px;
  &__title, &__desc {
    color: $primary;
  }
  &__title {
    flex: 1 0 auto;
    margin: 0 0 0 16px;
  }
  &__desc {
    margin: 16px 0 0 16px;
  }
  &__headline {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px 0 24px;
  }
}

.movie {
  &__list {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
  }
  &__item {
    width: calc(25% - 32px);
    padding: 16px;
    height: auto;
    cursor: pointer;
    position: relative;
    @media(max-width: 1024px) {
      width: calc(33.3% - 32px);
    }
    @media(max-width: 767px) {
      width: calc(50% - 32px);
    }
  }
  &__inner {
    position: relative;
  }
  &__img {
    display: flex;
    justify-content: center;
    align-items: center;
    color: $primary;
    min-height: 340px;
    transition: .5s;
    margin-bottom: 16px;
  }
  &__title {
    color: $primary;
  }
  &__poster {
    display: block;
    width: 100%;
    height: 100%;
    min-height: 340px;
  }
  &__info {
    font-size: 14px;
    margin-top: 8px;
    display: flex;
    justify-content: flex-start;
    span {
      margin-right: 8px;
    }
  }
}

.fade-enter-active, .fade-leave-active {
  transition-property: opacity;
  transition-duration: 0.25s;
}
.fade-enter-active {
  transition-delay: 0.25s;
}
.fade-enter, .fade-leave-active {
  opacity: 0
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .5s;
  border: none;
  z-index: 10;
  font-family: 'Montserrat', sans-serif;
  &:hover {
    opacity: 0.8;
  }
  &_submit {
    width: 200px;
    height: 40px;
    margin: 40px auto 0;
    background: darkcyan;
    border-radius: 4px;
    color: #fff;
    text-transform: uppercase;
    font-size: 16px;
    cursor: pointer;
    &:disabled {
      background: grey;
      opacity: 1;
      cursor: default;
    }
  }
  &_add,
  &_delete {
    cursor: pointer;
  }

  &_add,
  &_delete,
  &_complete {
    position: absolute;
    top: 16px;
    right: 16px;
    width: 40px;
    height: 40px;
    span {
      position: absolute;
      display: block;
      background: #fff;
      width: 20px;
      height: 2px;
    }
  }

  &_add {
    background: green;
    span {
      &:first-of-type {
        transform: rotate(90deg);
      }
      &:last-of-type {
        transform: rotate(180deg);
      }
    }
  }

  &_delete {
    background: red;
    span {
      &:first-of-type {
        transform: rotate(135deg);
      }
      &:last-of-type {
        transform: rotate(225deg);
      }
    }
  }

  &_complete {
    background: $primary;
    cursor: default;
    span {
      &:first-of-type {
        transform: rotate(126deg);
        left: 16px;
      }
      &:last-of-type {
        transform: rotate(232deg);
        right: 16px;
      }
    }
  }
}
