<template>
  <div class="content">
    <div class="content__headline">
      <h2 class="content__title">Favourite Movies</h2>
      <button class="delete-all" v-if="movies.length > 0" @click="deleteAll()">
        <span>Delete All</span>
      </button>
    </div>
    <div class="movie__list" v-if="movies.length > 0">
      <div class="movie__item" v-for="(movie, id) in movies" :key="movie.id">
        <a href="#" class="btn btn_delete" @click="deleteMovie(id)">
          <span></span>
          <span></span>
        </a>
        <div class="movie__inner" @click="loadMovie(movie.id)">
          <div class="movie__img">
            <img v-if="movie.poster_path" :src="posterUrl + movie.poster_path" class="movie__poster" :alt="movie.title"/>
            <span v-else>Sorry, poster is unavailable</span>
          </div>
          <div class="movie__title">
            <span>{{ movie.title }}</span>
          </div>
        </div>
      </div>
    </div>
    <p class="content__desc" v-else>You have not favourite movies.</p>
  </div>
</template>

<script>
	import Vue from 'vue'
  export default {
    data() {
      return {
        movies: [],
	      posterUrl: 'https://image.tmdb.org/t/p/w500'
      }
    },
    methods: {
      // getMovie() {
      //   this.movies = JSON.parse(localStorage.getItem('moviesFavourite'));
      // },
      deleteAll() {
	      this.movies.every((el) => {
		      Vue.$db.collection('favourite-movies').doc(el.id.toString()).delete();
	      });
	      this.movies = [];
      },
      deleteMovie(id) {
	      Vue.$db.collection('favourite-movies').doc(id.toString()).delete();
	      this.movies.splice(id, 1);
      },
	    loadMovie(id){
		    this.$router.push('/movie/' + id);
	    },
    },
    created() {
      this.movies = this.$store.getters.getMovies;
	  },
  }
</script>

<style lang="scss" scoped>
  @import '../assets/scss/main';

  .delete-all {
    font-family: 'Montserrat', sans-serif;
    height: 40px;
    width: 140px;
    font-size: 16px;
    margin-right: 15px;
    border: 1px solid $primary;
    color: $primary;
    background: #fff;
    border-radius: 4px;
    transition: .5s;
    cursor: pointer;
    &:hover {
      background: $primary;
      color: #fff;
    }
  }

</style>