<template>
  <div class="item">
    <transition name="fade" mode="out-in">
      <div class="item__inner">
        <div class="item__img">
          <img v-if="movie.poster_path" :src="posterUrl + movie.poster_path" class="item__poster" :alt="movie.title"/>
          <span v-else>Sorry, poster is unavailable</span>
        </div>
        <div class="item__info">
          <h3 class="item__title">{{ movie.title }}</h3>

          <p v-if="movie.tagline" class="item__desc item__desc_tagline">"{{ movie.tagline}}"</p>
          <p v-else class="item__desc item__desc_tagline">Tagline is not available</p>

          <p class="item__desc item__desc_margin">{{ movie.overview }}</p>

          <div class="item__wrap">
            <span>Release Date: </span>
            <span>{{ movie.release_date }}</span>
          </div>
          <div class="item__wrap">
            <span>Duration: </span>
            <span>{{ movie.runtime }} min</span>
          </div>
          <div class="item__wrap">
            <span>Rating: </span>
            <span>{{ movie.vote_average }} / 10 ({{ movie.vote_count }} votes)</span>
          </div>
          <div class="item__wrap">
            <span>Genres: </span>
            <span> {{ movie.genres | parseDataToString }}</span>
          </div>

          <transition name="fade" mode="out-in">
            <div @click="show = !show"> <!--v-if="isNotFavourite()"-->
              <button class="item__add" v-if="show" @click="addMovie()">Add to Favourites</button>
            </div>
            <!--<span class="msg msg_success" v-else>Movie was added to Favourites</span>-->
          </transition>

          <!--<div v-if="movieVideoKey" class="item__video">-->
            <!--<iframe-->
              <!--width="560" height="315"-->
              <!--:src="'https://www.youtube.com/embed/' + movieVideoKey"-->
              <!--frameborder="0"-->
              <!--allow="accelerometer; autoplay; encrypted-media;"-->
              <!--allowfullscreen>-->
            <!--</iframe>-->
          <!--</div>-->

        </div>
      </div>
    </transition>

    <div class="content__headline">
      <h2 class="content__title">Similar Movies</h2>
    </div>

    <div class="similar" v-if="moviesSimilar.length">
      <div class="movie__list">
        <div class="movie__item" v-for="movie in moviesSimilar" @click="loadMovie(movie.id)">
          <div class="movie__inner">
            <div class="movie__img">
              <img v-if="movie.poster_path" :src="posterUrl + movie.poster_path" class="movie__poster" :alt="movie.title"/>
              <span v-else>Sorry, poster is unavailable</span>
            </div>
            <div class="movie__title">
              <span>{{ movie.title }}</span>
            </div>
            <div class="movie__info">
              <span>{{ cutString(movie.release_date) }}, {{ parseGenreId(movie.genre_ids) }}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <p class="no-similar" v-else>Sorry, it seems there are no similar movies</p>
  </div>
</template>

<script>
  import Vue from 'vue';
  import { appUrls } from '../settings.js';
  import { genresList } from '../settings.js';
  export default {
    data() {
      return {
        movieId: null,
        movie: '',
	      //movieVideoKey: '',
	      moviesSimilar: [],
        moviesFavourite: [],
	      show: true,
	      posterUrl: 'https://image.tmdb.org/t/p/w500'
      }
    },
    methods: {
      fetchMovie(id){
        appUrls.getMoviesItem(id).then(movie => {
          this.movie = movie.data;
          }, error => { console.log('error');
        })
      },
      fetchSimilar(id) {
	      appUrls.getMoviesSimilar(id).then(movies => {
		      this.moviesSimilar = movies.data.results.slice(0, 4);
	        }, error => { console.log(('error'));
	      });
      },
      // fetchMovieVideo(id) {
	     //  appUrls.getMoviesItemVideo(id).then(video => {
		   //    this.movieVideoKey = video.data.results[0].key;
	     //  }, error => { console.log(('error'));
	     //  });
      // },
	    initLoading(id){
		    this.movieId = id;
		    this.fetchMovie(this.movieId);
		    this.fetchSimilar(this.movieId);
		    //this.fetchMovieVideo(this.movieId);
	    },
	    loadMovie(id){
		    this.$router.push({'name': 'movie', params: { id: id }});
		    return this.show = true
	    },
	    cutString(str) {
		    return str.substring(0, 4);
	    },
	    parseGenreId(array){
		    let parsedArray = [];
		    array.map((id) => {
			    genresList.map((genre) => {
				    if(id === genre.id) {
					    parsedArray.push(genre.name);
				    }
			    });
		    });
		    return array = parsedArray.slice(0, 4).join(', ')
	    },
	    // isNotFavourite(){
		   //  let moviesFavourite = JSON.parse(localStorage.getItem('moviesFavourite'));
		   //  if(moviesFavourite !== null) {
			 //    return moviesFavourite.every((el) => {
				//     return el.id !== this.movie.id
			 //    })
		   //  } else {
		   //  	 return true
       //  }
	    // },
	    addMovie() {
        // this.moviesFavourite = JSON.parse(localStorage.getItem('moviesFavourite'));
        // if(this.moviesFavourite === null) {
		    	// this.moviesFavourite = []
        // }
        // let movieItem = {
			   //  id: this.movie.id,
			   //  title: this.movie.title,
			   //  poster_path: this.movie.poster_path,
        // };
        // this.moviesFavourite.push(movieItem);
        // let stringify = JSON.stringify(this.moviesFavourite);
        // localStorage.setItem('moviesFavourite', stringify);

		    Vue.$db.collection('favourite-movies').doc(this.movie.id.toString()).set({
			    title: this.movie.title,
			    poster_path: this.movie.poster_path
		    })
	    }
    },
	  filters: {
		  parseDataToString: function (value) {
			  if (!value) return '';
			  value = value.map((i) => i.name).join(', ');
			  return value
		  }
	  },
    watch: {
      '$route' (to, from) {
        if(to.params.id !== from.params.id){
          this.initLoading(to.params.id);
        }
      }
    },
    created(){
      this.initLoading(this.$route.params.id);
	    //this.isNotFavourite();
    }
  }
</script>

<style lang="scss" scoped>
  @import '../assets/scss/main';

  .item {
    padding: 40px 0;
    max-width: 1024px;
    margin: 0 auto;
    &__inner {
      padding: 0 16px;
      display: flex;
      max-width: 1024px;
      margin: 0 auto;
    }
    &__img {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      color: $primary;
      font-size: 32px;
    }
    &__img,
    &__info {
      width: 50%;
    }
    &__info {
      padding-left: 40px;
    }
    &__poster {
      display: block;
      width: 100%;
      height: auto;
    }
    &__title {
      font-size: 32px;
      margin: 16px 0;
      color: #191970;
    }
    &__desc {
      font-size: 16px;
      line-height: 1.5;
      &_tagline {
        font-size: 18px;
        color: $primary;
      }
      &_margin {
        margin: 24px 0;
      }
    }
    &__wrap {
      display: flex;
      margin-bottom: 16px;
      span {
        &:first-of-type {
          font-weight: bold;
          margin-right: 8px;
          color: #191970;
        }
      }
    }
    /*&__video {*/
      /*position: relative;*/
      /*margin-top: 40px;*/
      /*padding-bottom: 56.25%;*/
      /*padding-top: 32px;*/
      /*height: 0;*/
      /*overflow: hidden;*/
      /*iframe {*/
        /*position: absolute;*/
        /*top: 0;*/
        /*left: 0;*/
        /*width: 100%;*/
        /*height: 100%;*/
      /*}*/
    /*}*/
    &__add {
      background: $primary;
      height: 50px;
      width: auto;
      padding: 0 15px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #fff;
      border: none;
      border-radius: 4px;
      margin-top: 40px;
      text-transform: uppercase;
      font-family: 'Montserrat', sans-serif;
      font-weight: bold;
      cursor: pointer;
      transition: .5s;
      &:hover {
        opacity: 0.8;
      }
    }
  }

  .no-similar {
    padding: 0 15px;
  }

  .msg {
    height: 50px;
    background: #fff;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 16px;
    margin-top: 16px;
    &_success {
      color: green;
    }
  }

</style>