<template>
  <div class="content">
    <div class="content__headline">
      <h2 class="content__title">Popular Movies</h2>
      <pagination
        :current="currentPage"
        :totalPages="pages"
        @page-changed="fetchMovies">
      </pagination>
    </div>
    <transition name="fade" mode="out-in">
      <div class="movie__list">
        <div class="movie__item" v-for="movie in movies" :key="movie.id">

          <transition name="fade" mode="out-in">
            <div v-if="isNotFavourite(movie.id)" @click="movie.show = !movie.show">
              <button class="btn btn_add" v-if="movie.show" @click="addMovie(movie.id)">
                <span></span>
                <span></span>
              </button>
            </div>
            <div class="btn btn_complete" v-else>
              <span></span>
              <span></span>
            </div>
          </transition>

          <div class="movie__inner" @click="loadMovie(movie.id)">
            <div class="movie__img">
              <img v-if="movie.poster_path" :src="posterUrl + movie.poster_path" class="movie__poster" :alt="movie.title"/>
              <span v-else>Sorry, poster is unavailable</span>
            </div>
            <div class="movie__title">
              <span>{{ movie.title }}</span>
            </div>
            <div class="movie__info">
              <span>{{ cutString(movie.release_date) }}, {{ parseGenreId(movie.genre_ids) }}</span>
            </div>
          </div>
        </div>
      </div>
    </transition>
 </div>
</template>

<script>
  import { appUrls } from '../settings.js';
  import { genresList } from '../settings.js';
  import Pagination from '../components/Pagination.vue';

  export default {
  	components: { Pagination },
    data() {
      return {
        movies: [],
        movie: {},
        pages: '',
        results: '',
        currentPage: 1,
        moviesFavourite: [],
        posterUrl: 'https://image.tmdb.org/t/p/w500'
      }
    },
    methods: {
      fetchMovies(current){
        appUrls.getMoviesPopular(current).then(movies => {
          let result = movies.data.results;
          this.pages = movies.data.total_pages;
	        this.movies = result.map((item) => {
		        item['show'] = true;
		        return item
	        })
          }, error => { console.log(('error'));
        });
        this.currentPage = current;
      },
	    cutString(str) {
		    return str.substring(0, 4);
	    },
	    parseGenreId(array){
		    let parsedArray = [];
		    array.map((id) => {
			    genresList.map((genre) => {
				    if(id === genre.id) {
					    parsedArray.push(genre.name);
				    }
			    });
		    });
		    return array = parsedArray.slice(0, 4).join(', ')
	    },
	    isNotFavourite(id){
		    let moviesFavourite = JSON.parse(localStorage.getItem('moviesFavourite'));
		    if(moviesFavourite !== null) {
			    return moviesFavourite.every((el) => {
				    return el.id !== id
			    })
		    } else {
		    	return true
        }
		  },
      loadMovie(id){
        this.$router.push({'name': 'movie', params: { id: id }});
      },
	    addMovie(id) {
		    this.moviesFavourite = JSON.parse(localStorage.getItem('moviesFavourite'));
		    if(this.moviesFavourite === null) {
			    this.moviesFavourite = []
		    }
		    let movieItem = {};
        this.movies.map((movie) => {
        	if(id === movie.id) {
		        movieItem.id = movie.id;
		        movieItem.title = movie.title;
		        movieItem.poster_path = movie.poster_path;
          }
        });
		    this.moviesFavourite.push(movieItem);
		    let stringify = JSON.stringify(this.moviesFavourite);
		    localStorage.setItem('moviesFavourite', stringify);
	    }
    },
    created(){
      this.fetchMovies();
	    this.isNotFavourite();
    }
  }
</script>

<style lang="scss" scoped>
  @import '../assets/scss/main';

  .content {
    &__headline {
      @media(max-width: 767px) {
        flex-direction: column;
        align-items: flex-start;
      }
    }
  }
</style>