<template>
  <div class="not-found">
    <span class="not-found__title">Sorry, that page does not exist</span>
  </div>
</template>

<script>
  export default {
    data() {
      return {}
    }
  }
</script>

<style lang="scss" scoped>
  @import '../assets/scss/main';
  .not-found {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: calc(100vh - 80px);
    &__title {
      display: inline-block;
      width: 100%;
      text-align: center;
      color: $primary;
      font-size: 48px;
    }
  }
</style>