<template>
  <div class="auth">
    <form class="auth__form">
        <h1 class="auth__title">Sign Up</h1>

        <div class="auth__warning" v-if="backendError">{{ backendError }}</div>

        <div class="auth__form-group">
          <label class="auth__label">Email</label>
          <input class="auth__input"
                 name="email"
                 type="email"
                 v-model="email"
                 placeholder="Enter your email address"
                 v-validate="'required|email'">
          <span class="validation-msg" v-show="errors.has('email')">
            {{ errors.first('email') }}
          </span>
        </div>

        <div class="auth__form-group">
          <label class="auth__label">Password</label>
          <input class="auth__input"
                 name="password"
                 type="password"
                 v-model="password"
                 placeholder="Enter your password"
                 v-validate="'required|min:6'">
          <span class="validation-msg" v-show="errors.has('password')">
            Password must be at least 6 characters
          </span>
        </div>

        <button class="btn btn_submit" @click.prevent="signUp" :disabled="processing || errors.has('password') || errors.has('email') || !isComplete">Sign Up</button>

    </form>
  </div>
</template>
<script>
	export default {
		data() {
			return {
				email: '',
        password: ''
      }
		},
    computed: {
			backendError() {
				return this.$store.getters.getError
      },
      processing() {
				return this.$store.getters.getProcessing
      },
      isUserAuthenticated(){
				return this.$store.getters.isUserAuthenticated
      },
	    isComplete() {
		    return this.email && this.password;
	    }
    },
    watch: {
	    isUserAuthenticated(val) {
	    	if(val === true) {
	    		this.$router.push('/popular')
        }
      }
    },
		methods: {
			signUp() {
				this.$store.dispatch('SIGNUP', {email: this.email, password: this.password})
      }
		}
	}
</script>

<style lang="scss" scoped>
  @import '../assets/scss/main';
  @import '../assets/scss/auth';
</style>