<template>
  <header class="header">
    <div class="header__inner">

      <img class="header__logo" src="../assets/img/logo.svg">

      <div class="search" v-if="isUserAuthenticated">
        <input class="search__inp"
           type="text"
           placeholder="Search movie here ..."
           @keyup="autocomplete"
           @focus="searchFocus"
           @blur="searchBlur"
           v-model="searchKeyword">
        <transition name="fade" mode="in-out">
          <ul class="search__dropdown" v-if="showDropdown">
            <li class="search__dropdown-item" v-for="movie in searchMovies" @click="loadSearchMovie(movie.id, movie.title)">
              <span>{{ movie.title }} ({{ cutString(movie.release_date) }})</span>
            </li>
          </ul>
        </transition>
      </div>
      <ul class="header__nav">
        <li class="header__nav-item" v-for="item in navItems">
          <router-link class="header__nav-link" :to="item.route">
            <span>{{ item.title }}</span>
          </router-link>
        </li>
        <li class="header__nav-item" @click.prevent="signOut" v-if="isUserAuthenticated">
          <a class="header__nav-link">
            <span>Log Out</span>
          </a>
        </li>
      </ul>
    </div>
  </header>
</template>

<script>
  import _ from 'lodash'
  import { appUrls } from '../settings.js';
  export default {
    data(){
      return {
        search: '',
        searchActive: false,
        searchMovies: [],
        searchKeyword: ''
      }
    },
	  computed: {
		  showDropdown(){
			  return this.searchMovies.length > 0;
		  },
		  isUserAuthenticated(){
			  return this.$store.getters.isUserAuthenticated
		  },
      navItems() {
		  	return this.isUserAuthenticated
          ? [
          {
          	title: 'Popular',
            route: '/popular'
          },
				  {
					  title: 'Upcoming',
					  route: '/upcoming'
				  },
				  {
					  title: 'Favourites',
					  route: '/favourites'
				  }
        ] :
        [
          {
					  title: 'Sign In',
					  route: '/'
				  },
				  {
					  title: 'Sign Up',
					  route: '/signup'
				  }
        ]
      }
	  },
	  watch: {
		  isUserAuthenticated(val) {
			  if(val === false) {
				  this.$router.push('/')
			  }
		  }
	  },
    methods: {
      searchFocus(){
        this.searchActive = true;
        this.autocomplete();
      },
      searchBlur(){
        this.searchActive = false;
        this.searchMovies = [];
      },
      autocomplete: _.debounce(function() {
        let keyword = this.searchKeyword;
        if(keyword){
          appUrls.searchMovies(keyword).then(movies => {
            this.searchMovies = movies.data.results;
            }, error => { console.log(('error'));
          });
        } else {
          this.searchMovies = [];
        }
      }, 1000),
      loadSearchMovie(id){
        this.searchKeyword = '';
        this.$router.push({'name': 'movie', params: {id: id}});
      },
	    cutString(str) {
		    return str.substring(0, 4);
	    },
      signOut() {
      	this.$store.dispatch('SIGNOUT')
      }
    }
  }
</script>

<style lang="scss" scoped>

  .header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    background: #191970;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 15;
    width: 100%;
    &__inner {
      height: 100%;
      width: 100%;
      padding: 0 40px;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      align-items: center;
      @media(max-width: 1024px) {
        max-width: 100%;
        padding: 0 16px;
      }
      @media(max-width: 520px) {
        flex-direction: column;
        justify-content: flex-start;
      }
    }
    &__logo {
      display: block;
      width: 56px;
      height: auto;
    }
    &__nav {
      display: flex;
      justify-content: flex-end;
      height: 100%;
      order: 2;
      width: 50%;
      @media(max-width: 520px) {
        order: 1;
        width: 100%;;
        justify-content: center;
        padding: 8px 0;
      }
      &-item {
        margin-left: 40px;
      }
      &-link {
        text-decoration: none;
        color: #fff;
        display: flex;
        align-items: center;
        height: 100%;
      }
    }
  }

  .search {
    width: 50%;
    position: relative;
    margin-left: 40px;
    @media(max-width: 520px) {
      width: 100%;
    }
    &__inp {
      display: block;
      height: 48px;
      width: 200px;
      padding: 0 16px;
      border: none;
      border-radius: 4px;
      transition: .5s;
      @media(max-width: 520px) {
        margin: 0 auto;
        height: 32px;
      }
      &:focus {
        width: 100%;
        max-width: 440px;
        border: none;
        outline: none;
        @media(max-width: 767px) {
          width: 200px;
        }
      }
    }
    &__dropdown {
      position: absolute;
      top: 48px;
      width: 100%;
      max-width: 472px;
      overflow: hidden;
      background: #fff;
      &-item {
        height: 40px;
        padding: 0 16px;
        transition: .5s;
        color: #191970;
        display: flex;
        align-items: center;
        cursor: pointer;
        &:hover {
          color: #fff;
          background: #191970;
        }
      }
    }
  }
</style>