<template>
  <div class="pagination">
    <div class="pagination__prev" v-if="hasPrevPage" >
      <a href="#" class="pagination__link" @click="changePage(prevPage)">Prev</a>
    </div>
    <div class="pagination__pages">
      <ul class="pagination__list">
        <li class="pagination__item" v-if="hasFirstPage">
          <a href="#" class="pagination__link" @click="changePage(1)">1</a>
        </li>
        <li class="pagination__item" v-if="hasFirstPage">...</li>
        <li class="pagination__item" v-for="page in paginationPages">
          <a href="#" class="pagination__link" :class="{ current: current === page}" @click="changePage(page)">
            {{ page }}
          </a>
        </li>
        <li class="pagination__item" v-if="hasLastPage">...</li>
        <li class="pagination__item" v-if="hasLastPage">
          <a href="#" class="pagination__link" @click="changePage(totalPages)">{{ totalPages }}</a>
        </li>
      </ul>
    </div>
    <div class="pagination__next" v-if="hasNextPage">
      <a href="#" class="pagination__link" @click="changePage(nextPage)">Next</a>
    </div>
  </div>
</template>

<script>
	export default {
		props: {
			current: {
				type: Number,
        'default': 1
      },
      totalPages: {},
      paginationRange: {
			  type: Number,
        'default': 1
      }
    },
    computed: {
      paginationPages() {
		    let pages = [];
		    for(let i = this.paginationStart; i <= this.paginationEnd; i++) {
		      pages.push(i)
        }
        return pages;
      },
      paginationStart() {
        let start = this.current - this.paginationRange;
        return (start > 0) ? start : 1
      },
      paginationEnd() {
        let end = this.current + this.paginationRange;
        return (end < this.totalPages) ? end : this.totalPages
      },
			prevPage() {
				return this.current - 1;
      },
	    nextPage() {
		    return this.current + 1;
	    },
	    hasFirstPage() {
		    return this.paginationStart !==1
	    },
	    hasLastPage() {
		    return this.paginationEnd < this.totalPages
	    },
	    hasPrevPage() {
		    return this.current > 1
	    },
	    hasNextPage() {
		    return this.current < this.totalPages
	    }
    },
    methods: {
			changePage(current) { //emit event to parent component
				this.$emit('page-changed', current)
      }
    }
	}
</script>

<style lang="scss" scoped>
  @import '../assets/scss/main.scss';
  .pagination {
    display: flex;
    justify-content: flex-end;
    padding: 0 15px;
    @media(max-width: 767px) {
      margin-top: 35px;
    }
    &__prev,
    &__next {
      height: 40px;
      position: relative;
      transition: .5s;
      min-width: 80px;
    }
    &__prev {
      margin-right: 15px;
    }
    &__next {
      margin-left: 15px;
    }
    &__link {
      margin: 0;
      border: 1px solid #191970;
      cursor: pointer;
      transition: .5s;
      border-radius: 4px;
      background: #fff;
      text-decoration: none;
      color: $primary;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      min-width: 40px;
      height: 38px;
      &:first-of-type {
        margin-left: 0;
      }
      &:hover,
      &.current {
        background: $primary;
        color: #fff;
      }
      &.current {
        cursor: default;
        &:hover {
          opacity: 1;
        }
      }
      &:hover {
        opacity: 0.8;
      }
    }
    &__pages {
      color: $primary;
    }
    &__list {
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }
    &__item {
      margin: 0 0 0 15px;
      &:first-of-type {
        margin-left: 0;
      }
    }
  }
</style>