<template>
  <div id="app">
    <div class="wrapper" :class="{ 'background-primary' : !isUserAuthenticated }">
      <app-header></app-header>
      <transition name="fade" mode="out-in">
        <router-view></router-view>
      </transition>
    </div>
  </div>
</template>

<script>
  import AppHeader from './components/AppHeader.vue'
  export default {
  	name: 'app',
    components: { AppHeader },
    data() {
      return {}
    },
    computed: {
	    isUserAuthenticated(){
		    return this.$store.getters.isUserAuthenticated
	    }
    }
  }
</script>

<style lang="scss">
  @import './assets/scss/main.scss';
  .wrapper {
    &.background-primary {
      background: $primary;
    }
  }
</style>